/* ....................ОСНОВЫЕ СТИЛИ............. */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;


}


a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;

}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;



}

section {
    padding-top: 100px;
}

/* ..................ФОНСТИЛЬ.................. */

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.container {
    max-width: 960px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
    width: 100%;
}

/* .......................................HEADER................................ */
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}



.logo-image {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}


/* ........................................HEROSECTION................... */


.hero {
    padding-top: 435px;
    max-width: 100%;
    align-items: center;
    text-align: center;
    position: relative;
}


.hero-content {
    position: relative;
    z-index: 1;
}

.hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
}


.hero-title {
    color: white;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 5.71px;
    font-family: 'Bebas Neue', cursive;
}

.hero-subtitle {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: white;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}


.hero-scroll {
    margin-top: 280px;
}

.hero-scrolltext {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-align: center;
    line-height: 13px;
    padding-bottom: 70px;
    letter-spacing: 4px;
}

/* ..............................................NAVIGATION........................ */

.navigation {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #48555B;
    margin-top: 3px;
}

.nav-line {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    color: #48555B;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    line-height: 14px;
    font-weight: 600;
}

.nav-item:not(:last-child) {
    margin-right: 43px;
}

.nav-item:hover {
    color: #00A4E5;
    transition: all 0.3s;
    font-weight: 700;
}

/* .......................................................Section2OURSTORY................................ */

.story-block {
    display: flex;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
}


.banner {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: #48555B;
    line-height: 21px;
}

.banner span {
    border-bottom: 3px solid #00A4E5;
    margin-top: 34px;
}

.ourstory {
    padding-top: 50px;
    max-width: 100%;
    align-items: center;
    text-align: center;


}

.desc-left {
    max-width: 405px;
}

.desc-rigth {
    margin-left: 76px;
}

.story-title {
    font-size: 20px;
    letter-spacing: 0.17px;
    margin-bottom: 30px;
    color: #48555B;
    line-height: 23px;
    font-weight: 700;
    max-width: 380px;
}

.story-title span {
    color: #00A4E5;
}

.story-subtitle {
    font-size: 13px;
    letter-spacing: 0.19px;
    font-weight: 400;
    line-height: 23px;

}

.image-rigth {
    margin-right: 15px;
}

/* ......................................Section3OUR CAPABILITIES........................... */

.our {
    display: inline;
}

.services {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;

}

.services-subtitle {
    font-size: 11px;
    max-width: 375px;
    margin-left: auto;
    line-height: 19px
}

.button {
    margin-left: 30px;
    background-color: #00A4E5;
    padding: 11px 29px;
    cursor: pointer;
    text-align: center;

}

.button:hover {
    background-color: rgb(93, 93, 156);
    transition: all 0.5s;
}

.button a {
    color: #fff;
    font-size: 13px;
}

.service {
    height: 330px;
    display: flex;
    justify-content: space-between;
}

.service-item {
    max-width: 250px;
    padding: 38px 23px;
    border: 1px solid grey;
}

.service-title {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #48555B;
}

.service-subtitle {
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
}


/* .......................AMAZING.................... */


.amazing-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    width: 350px;
    margin: 0 auto;
}


.amazing-title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #48555B;
    font-weight: 700;
    margin-bottom: 23px;

}

.bg {
    background-image: url(/img/amazing/bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 337px;
}

.btn {
    width: 150px;
    margin: 0 auto;
}

/* .................FORM...................... */

.form-action {
    padding: 0;
    height: 100px;
    font-family: "Open Sans", sans-serif;
}

.form {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 35px;
    justify-content: space-evenly;
}

.title {
    font-size: 22px;
    letter-spacing: 0.85px;
    font-weight: 800;
}



input[type=email] {
    width: 250px;
    height: 40px;
    padding-left: 16px;

}

.btn-form {
    color: white;
    height: 18px;
    width: 150px;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
}









/* ,...............................FOOTER */

.footer {
    padding: 32px 0;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

.info-items {
    width: 250px;
}

.footer {
    background-color: #141A20;
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
    font-family: "Open Sans", sans-serif;
}

._svg-col {
    display: flex;
}

.footer-title {
    margin-bottom: 30px;
}

.footer-li {
    padding-top: 56px;
}

.info-logo {
    margin-bottom: 15px;
}

.info-wrap p {
    font-size: 11px;
    line-height: 19px;
    font-weight: 400;
}

.info-col img {
    width: 30px;
}

.svg-icon {
    display: flex;
    height: 25px;
}

.icons {
    width: 20px;
    cursor: pointer;
}

.icons:not(:first-child) {
    padding-left: 20px;
}


.nav-info li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-num {
    margin: 15px 0 15px;
}

.info-links {
    color: white;
    cursor: pointer;
}


.col4 {
    font-weight: 400s;
}

.nav-info a:hover {
    color: rgb(93, 93, 156);
    transition: all 0.5s;
}

/* .....................АдАпвтив */

@media screen and (max-width:1280px) {
    .container {
        width: 960px;
    }

    .bg {
        background-size: auto;
    }
}

.svg-icon:hover {}

.info-col {}

@media screen and (max-width:992px) {
    .container {
        width: 720px;
    }

    .desc-left {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .story-block {
        flex-direction: column;
    }

    .desc-rigth {
        margin: 0 auto;
    }

    .services-subtitle {
        max-width: 260px;
    }

    .service {
        height: 350px;
    }

    .bg {}

    .button {
        width: 100px;
    }


}

@media screen and (max-width:768px) {
    .container {
        width: 540px;
    }

    .services {
        flex-direction: column;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .banner {
        margin-bottom: 20px;
    }

    .services-subtitle {
        max-width: 260px;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
    }


    .service {
        flex-direction: column;
        align-items: center;
        height: auto;

    }

    .button {
        margin: 0 auto;
    }

    .image-rigth {
        margin-right: 0px;
    }

    .nav-line {
        flex-direction: column;
    }

    .nav {
        margin-top: 10px;
    }

    .form {
        flex-direction: column;
    }

    .title {
        margin-bottom: 35px;
    }

    .form-action {
        height: 180px;
    }


input[type=email]{
    width: 180px;
}

.btn-form {
    width: 65px;
}

.desc-rigth{
    display: grid;
}

.image-rigth{
    margin-bottom: 30px;
}

.info-items{
    display: none;
}

.links{
    display: none;
}

.terms{
    display: none;
}

.blog{
    display: none;
}

.footer-title h1{
    font-size: 25px;
    font-weight: 900;
}

.nav{
    display: none;
}

.hero-subtitle{
    margin-top: 30px;
}

@media screen and (max-width:576px) {
    .container {
        width: 90%;
    }
}
